{% extends "index.html" %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}
{% block content %}

<div class="column">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" {% if not category %}{% endif %}></li>
            <li class="breadcrumb-item"><a href="{% url "product_list" %}">Каталог</a> </li>
            <li class="breadcrumb-item active"><a>Доставка</a></li>
        </ol>
    </nav>
</div> 

<div class="container">
    <h2>Информация о доставке</h2>

    <h2>Курьером по Москве</h2>
    <p>Доставляем на следующий день при заказе до 18:00, иначе — через день.
    Курьеры работают с понедельника по субботу, с 10:00 до 22:00.
    При согласовании заказа можно выбрать трёхчасовой интервал доставки (самое раннее — с 12:00 до 15:00).
    Оплатить заказ можно наличными при получении или же онлайн при оформлении заказа.
    Стоимость доставки — 250 рублей.
    Самовывоз из офиса в Москве
    Офис находится в трёх минутах ходьбы от м. Парк культуры по адресу: ул. Тимура Фрунзе, дом 8/5, подъезд 1.
    При оформлении до 15:00 в будний день заказ можно забрать после 17:00 в тот же день, иначе — на следующий будний день после 17:00. Мы позвоним и подтвердим готовность заказа.
    Получить заказ можно с 11:00 до 20:00 без выходных после его готовности. Заказ будет ждать вас 3 рабочих дня. Если хотите продлить срок хранения, просто напишите или позвоните.
    Запишите номер своего заказа перед визитом. Он необходим при получении.
    Оплатить заказ можно наличными или банковской картой при получении, а также онлайн-платежом при оформлении заказа.
    Сам самовывоз бесплатен.</p>

    <h2>Курьером по Санкт-Петербургу</h2>
    <p>Доставляем через день при заказе до 18:00, иначе — через два дня.
    Курьеры работают с понедельника по субботу, с 11:00 до 22:00.
    При согласовании заказа можно выбрать трёхчасовой интервал доставки (самое раннее — с 12:00 до 15:00).
    Оплатить заказ можно наличными при получении или же онлайн при оформлении заказа.
    Стоимость доставки — 350 рублей.</p>

    <h2>Постаматы и пункты выдачи PickPoint</h2>
    <p>Доставка в пункт самовывоза — современный, удобный и быстрый способ получить свой заказ без звонков и ловли курьеров.
    Пункт самовывоза — это киоск с человеком или массив железных ящичков. Их ставят в супермаркетах, офисных центрах и других популярных местах. Ваш заказ окажется в том пункте, который выберите.
    Ближайший к себе пункт вы можете найти на карте PickPoint.
    Срок доставки — от 1 до 8 дней в зависимости от города. Например, в Москве это 1–2 дня; в Петербурге — 2—3 дня.
    Когда заказ прибудет в пункт выдачи, вы получите SMS с кодом для его получения.
    В любое удобное время в течение трёх дней вы можете прийти в пункт и с помощью кода из SMS получить заказ.
    Оплатить заказ можно наличными при получении или же онлайн при оформлении заказа.
    Стоимость доставки — от 240 руб в зависимости от города и габаритов заказа. Она рассчитывается автоматически во время оформления заказа.</p>

    <h2>Почта России</h2>
    <p>Доставка осуществляется до ближайшего почтового отделения в любом населённом пункте России.
    Тариф и сроки доставки диктует «Почта России». В среднем время ожидания составляет 2 недели.
    Мы передаём заказ Почте России в течение двух рабочих дней.
    Оплатить заказ можно наличными при получении (наложенный платёж) или же онлайн при оформлении заказа.
    Стоимость рассчитывается автоматически во время заказа и в среднем должна составить около 400 рублей.</p>

    <h2>Курьерская служба EMS</h2>
    <p>Служба «EMS Почта России» работает быстрее и надёжнее обычной почты и доставляет до двери покупателя.
    Тариф и сроки доставки диктует служба EMS. В среднем по России время ожидания составляет 4–5 дней.
    Мы передаём заказ в EMS в течение двух рабочих дней.
    Оплатить заказ можно только онлайн при оформлении заказа.
    Стоимость рассчитывается автоматически во время оформления заказа и в среднем должна составить 400–800 рублей для России и 1500–2000 рублей для стран СНГ.</p>

    <h2>Курьером СДЭК до двери</h2>
    <p>Доставка курьером СДЭК доступна во всех регионах России, кроме Москвы и Санкт-Петербурга.
    Тарифы и сроки доставки диктует компания СДЭК.
    Мы передаём заказ в СДЭК в течение одного рабочего дня.
    Оплатить заказ можно онлайн при оформлении или картой курьеру.
    Стоимость рассчитывается автоматически во время оформления заказа.</p>
</div>

{% endblock %}