{% extends 'index.html' %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <h2>{{user}} {{user.email}}</h2>
<div class="container">
    
    <div class="col-sm-9 col-md-6 col-lg-8">
        <div class="row"> 
            {% for order in object_list %}
            <div class="col-sm-4">
                <div class="card bg-light mb-3" style="max-width: 18rem; margin: 5px">
                    <div class="card-body">
                        <div class="card-header"><h5>Заказ №{{order.id}} </h5></div>
                        <h5 class="card-title">{% if order.delivered == True%}Доставлен{%else%}Недоставлен{% endif %}</h5>
                        <p class="card-text">
                        {% if order.paid == True%}Оплачен{%else%}Неоплачен{% endif %}<br>
                        ФИО получателя: {{order.first_name}} {{order.last_name}}<br>
                        Адрес: {{order.city}} {{order.address}}<br>
                        </p>
                        {% for i in object_list.orderitem_set.all %}
                        {{i.product}}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}