{% extends "index.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="column">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" {% if not category %}{% endif %}></li>
            <li class="breadcrumb-item"><a href="{% url "product_list" %}">Каталог</a> </li>
            <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category }} </a></li>
            <li class="breadcrumb-item active"><a>{{ product.name }}</a></li>
        </ol>
    </nav>
</div> 

<div class="column">  

    <div>
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
        <p class="price">{{ product.price }} ₽</p>
        {{ product.description|linebreaks }}
    </div>
    





    
</div>    
{% endblock %}

